#gifts{
    background-color: bisque;

    div{
        #items{
           

                #bathsalts{
                    background-image: url('../img/our_shop/bath_salts.jpg');
                    width: 70vw;
                    height: 50vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                #succulents{    
                    background-image: url('../img/our_shop/Succulent.jpg');
                    width: 70vw;
                    height: 50vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }   

                #painting{
                    background-image: url('../img/our_shop/painting.jpg');
                    width: 70vw;
                    height: 50vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                

                #necklace{
                    background-image: url('../img/our_shop/necklace.jpg');
                    width: 70vw;
                    height: 50vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
                }
            
        
    }

    img{
        width: 260px;
        height: 220px;
    }
    
