#gifts{
    background-color: var(--pale-yellow);

    div{
        
        h1{
            display: flex;
            justify-content: center;
        }

        #gift{
            display: flex;
            justify-content: center;
        }

        #items{
            @include md{
                display: grid;
                grid-template-columns: 116px 1fr 1fr 116px;
                grid-template-areas: 
                ". topleft topright ."
                ". bottomleft bottomright .";
                margin-bottom: 30px;
                @include lg{
                    display: grid;
                grid-template-columns: 116px 1fr 120px 1fr 116px;
                grid-template-areas: 
                ". topleft . topright ."
                ". bottomleft . bottomright .";
                }
                

            }

            .item-images{
                @include md{
                    height: 20vh;
                }
                @include lg{
                    height: 60vh;
                }
            }

                #bathsalts{
                    background-image: url('../img/our_shop/bath_salts.jpg');
                    @include md{
                        margin-bottom: 24px;
                        grid-area: topleft;
                        @include lg{
                            margin-bottom: 115px;
                        }
                    }
                    
                }

                #succulents{    

                    background-image: url('../img/our_shop/Succulent.jpg');
                    @include md{
                        margin-left: 24px;
                        grid-area: topright;
                    
                    }
                    
                }   

                #painting{
                    background-image: url('../img/our_shop/painting.jpg');
                    @include md{
                        grid-area: bottomleft;
                    }
                    
                }
                

                #necklace{
                    background-image: url('../img/our_shop/necklace.jpg');
                    @include md{
                        margin-left: 24px;
                        grid-area: bottomright;
                    }
                    
                }

                
                
            }
                }
            
        
    }

    img{
        // width: 260px;
        // height: 220px;
    }
    
