#hero{
   
    @include md{
        
    }
    #logo{
        background-image: url('../img/home_page/heroimg.svg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: absolute;
            margin-bottom: 48px;
            height: 100%;
            width: 100%;
            max-width: 320px;
            max-height: 130px;
            top: 17%;
            @include md{
                margin-left: 10%;
                top: 55%;
                max-width: 400px;
                max-height: 150px;
            }
        }
        

    }
    #herosection{

        display: flex;
        justify-content: center;

        #buttons{
            margin-top: 60px;
            @include md{
                margin-top: 0;
            }

            justify-content: center;
           
            div{
                display: flex;
                display: grid;
                grid-template-columns: repeat(4fr);
                grid-column-gap: 100px;
                grid-template-rows: repeat(5fr);
                grid-template-areas: 
                ". shop shop . "
                " services services galleries galleries "
                " . ourstory ourstory ."
                "contact contact resources resources";
                @include md{
                    grid-row-gap: 80px;
                    grid-column-gap: 80px;
                    grid-template-areas: 
                    ". shop galleries ."
                    "contact . . ourstory"
                    ". resources services .";
                }

                    #shop{
                        grid-area: shop;
                        
                    }
    
                    #services{
                        grid-area: services;
                        
                    }
    
                    #galleries{
                        grid-area: galleries;

                        
                    }
    
                    #ourstory{
                        grid-area: ourstory;

                        
                    }
    
                    #contact{
                        grid-area: contact;

                        
                    }
    
                    #resources{
                        grid-area: resources;

                        
                    }
                
                

                .diamond{
                    top: 0;
                    position: relative;
                    background-color: var(--cream);
                    height: 90px;
                    width: 90px;
                    border: none;
                    opacity: 70%;
                    transform: rotate(45deg);
                    @include md{
                        width: 100px;
                        height: 100px;
                        filter: drop-shadow(0 0 0.75rem black);
                    }

                    span{
                        font-family: 'Quicksand';
                        font-size: rem-calc(16);
                        font-weight: 500;
                        color: var(--dark-green);
                        text-align: center;
                        display: inline-block;
                        transform: rotate(-45deg);
                        opacity: 100%;
                        @include md{
                            font-size: rem-calc(18);
                        }
                    }
                }

                .diamond:hover{
                    background-color: var(--dark-green);
                    transition: 0.7s;
                    cursor: pointer;
                    span{
                        color: white;
                    }
                }   

            }
        }
    }
}