/* =============
    Header
============= */

#headerimg{
            background-image: url('../img/header/headerimg.jpg');
            background-repeat: no-repeat;
            width: 100vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            // x: left | center | right;
            // y: top | center | bottom;
            background-position: center;

            img{
                width: 80px;
                height: 80px;
                background-color: var(--green);
                border-radius: 50%;

             }
            

}
#header{
    div{
        section{
            button{
                background-color: var(--pale-yellow);
              border: none;
              width: 100%;  
              margin-top: 24px;
              margin-bottom: 24px;
              padding: 8px;
            }
            
        }
    }


}
